* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins";
}
.content {
    width: 1110px;
    max-width: calc(100%-48px);
    margin-right: auto;
    margin-left: auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 18px 16px;
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}
.fixed-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}
.hero-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
    background: #e6f0ff;
}
.navbar ul {
    display: flex;
}
.navbar .actions {
    margin-left: auto;
}
.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 0px 16px;
}
.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}
.navbar .acition-btn {
    border-radius: 8px;
    padding: 13px 16px;
    margin-left: 28px;
}
.hero {
    margin-top: 130px;
}
.hero .info {
    width: 51%;
}
.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687691;
}
.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19;
    color: #000336;
}
.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 178%;
    color: #5a6473;
}
.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}
.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0px;
}

/* ======clints====== */
.clients {
    margin-top: 79px;
    background: white;
    padding: 43px 0px 64px;
}
.clients .row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.clients .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    color: #7d8589;
}
.clients .row-desc {
    margin-top: 23px;
}
.clients .images {
    align-items: center;
    margin-top: 70px;
    justify-content: space-between;
    display: flex;
}
.clients .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;
    border-radius: 12px;
}
.clients .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
/* ======guides====== */
.guide {
    margin-top: 40px;
    padding: 93px 0 79px;
    background: white;
}
.guide .sub-title {
    font-weight: 600;
    position: relative;
    font-size: 3.5rem;
    line-height: 100%;
    text-align: center;
    color: #000339;
}

.guide .sub-title::before {
    display: inline-block;
    top: -10px;
    left: 50%;
    content: "";
    transform: translateX(-50%);
    position: absolute;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}
.guide .desc {
    width: 459px;
    margin: 0 auto;

    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 188%;
    text-align: center;
    color: #5a6473;
}
.list-guide {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.guide-item {
    margin: 0 70px;
}
.guide-item .title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 110%;
    color: #3b3c45;
    margin-top: 26px;
}
.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}
.guide-item .arrow {
    margin-left: 8px;
}
.guide-cta {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}
.guide-cta .btn {
    width: 170px;
    height: 50px;
}
/* ======Featured====== */
.Featured {
    margin-top: 41px;
    padding: 110px 0px;
    background: #f5fafe;
}
.Featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 100%;
    color: #000339;
}
.Featured .row {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Featured .desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    color: #5a6473;
}
.Featured .link {
    font-weight: 600;
    font-size: 1.8rem;
    display: flex;
    color: #0689ff;
}
.Featured .link .arrow {
    margin-left: 8px;
}
.Featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}
.Featured .list .thumb {
    width: 100%;
}
.Featured .item {
    flex: 1;
    background: #f5fafe;
    border-radius: 12px;
    border-radius: 12px;
}
.Featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.Featured .item .body {
    padding: 17px 20px 24px;
}
.Featured .item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 100%;
    color: #000339;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.Featured .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 150%;
    color: #a3a6ab;
}

.Featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.Featured .item .label {
    margin-left: 8px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;

    color: #4d4d52;
}
.Featured .item .icon {
    margin-left: 23px;
}
.Featured .item .icon:first-child {
    margin-left: 0;
}
/* <!-- stats --> */
.stars {
    margin-top: 75px;
    padding: 50px 0;
}
.stats .content {
    width: 1017px;
}
.stats .row {
    display: flex;
}
.stats .img-block,
.stats .info {
    width: 50%;
}
.stats .img-block {
    position: relative;
}

.stats .stats-trend {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background: #ffffff;
}
.stats .info {
    padding: 79px 0 0 165px;
}
.stats .img-block > img {
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
    display: block;
    margin-left: auto;
}
.stats .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 129%;
    color: #000339;
}
.stats .info .desc {
    width: 309px;
    height: 150px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 188%;
    color: #5a6473;
}
.stats .sub-title::before {
    left: 0;
    top: -10px;
    content: "";
    display: block;
    position: absolute;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}
.stats .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: #000339;
}
.stats .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: #a7a7a7;
}
.stats .icon {
    margin-left: auto;
}
.stats-trend .separate {
    margin-top: 25px;
    height: 1.2px;
    top: 185.51px;
    background: #e9e9e9;
}
.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}
.stats .avatar-group {
    display: flex;
}
.stats .avatar {
    background: #1f3bb1;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}
.stats .avatar:first-child {
    margin-left: 0px;
}
.stats .row-qty {
    justify-content: space-between;
    margin-top: 110px;
    padding: 0 32px;
}
.stats .qty {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 100%;
    color: #000000;
}
.stats .qty-desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}
/* subscription */
.subscription {
    margin-top: 90px;
}
.subscription .body {
    position: relative;
    background: #063183;
    border-radius: 20px;
    height: 370px;
    top: 39px;
    display: flex;
    align-items: center;
}
.subscription .info {
    width: 670px;
    padding: 0 80px;
}
.subscription .info .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 100%;
    color: #ffffff;
}
.subscription .info .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 188%;
    margin-top: 15px;
    color: #ffffff;
}
.subscription .info .btn {
    width: 151px;
    height: 50px;
    margin-top: 20px;
    background: #ffffff;
    border-radius: 12px;
    color: #002366;
}
.subscription .image {
    position: absolute;
    background: #ffffff;
    bottom: 0;
    right: 221px;
}
/* footer */
.footer {
    margin-top: 55px;
    margin: 50px 0 58px;
}
.footer .row {
    display: flex;
}
.footer .row-top {
    gap: 185px;
}
.footer .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}
.footer .list,
.footer .desc {
    margin-top: 42px;
}
.footer .item {
    margin-top: 18px;
}
.footer .item a {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;

    white-space: nowrap;
}
.footer .social {
    margin-top: 50px;
}
.footer .desc {
    white-space: normal;
    line-height: 175%;
}
.footer .social {
    margin-top: 40px;
    display: flex;
}
.footer .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: #f9f9f9;
}
.footer .social-link + .social-link {
    margin-left: 16px;
}
.footer .social-link:hover {
    background: #ebebeb;
}
.footer .row-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .row-bottom {
    margin-top: 81px;
}
.footer .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
